.content_profil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 10%;
    margin: 0;
    padding: 0;

}

.personnel_informations,
.content_profil,
.title,
form,
img,
.empty_content,
.edit_profil,
.contentInfo,
.fullname,
.nom,
.prenom,
.phone,
.email,
.date_naissance, 
.contents,
p,
h3,
h5,
h4,
.row,
.socialMediam,
.insta,
.fb,
.tiktok,
.fav,
.historique,
.logOut,
i,
.profil,
.informations,
.left,
h6,
.column,
.edit,
label,
input,
.modal-overlay button,
.modal-overlay button i,
.modal-overlay h2,
.modal-overlay p,
.modal-overlay .close,
.modal-overlay .btns {
    background: transparent;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
img {
    border-radius: 50%;
    width: 250px;
    height: 230px;
}

.title {
    z-index: 22;
    display: flex;
    flex-direction: row;
}

.title i {
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    font-size: 16px;
}

.personnel_informations {
    width: 40%;
    place-content: center;
    place-items: center;
}

.content_personnel_informations {
    width: 100%;
    margin-top: -15%;
    border-radius: 50px;
    background: #ffff;
    height: 40vh;
}

.informations {
    margin-top: 5%;
}

.informations .profil .fullname {
    display: flex;
    flex-direction: row;
    gap: 5%;

}

.informations .profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    gap: 15px;
    place-items: center;
}
 .empty_content {
  width:100%;
  color: rgba(128, 128, 128,0.4);
  font-size: 15px;


}
 .socialMediam {
    display: flex;
    flex-direction: row;
    gap: 70%;
    margin-top: 10%;
    place-content:  center;
    font-size: 40px;

}

.contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    z-index: 1;
    width: 50%;
    margin-left: 0%;
}

.content {
    width: 100%;
    border-radius: 50px;
    background: #ffff;
    height: 40vh;
    place-items: center;

}
.contentInfo{
    width: 90%;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3{
    margin-top: 40px;
    font-size: 15px;
    color: rgba(128, 128, 128,0.4);
    text-align: end;
}
h3 i {
    font-size: 30px;
      font-size: 15px;
    color: rgba(128, 128, 128,0.4);
}



h4,
.fav,
.historique,
.logOut {
    margin-left: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 14px;
}


.fav,
.historique,
.logOut {
    margin-bottom: 30px;
    border-bottom: 2px solid #7F5539;
    width: 90%;
    gap: 70%;
}
h5{
    /* margin-bottom: 10px; */
    border-bottom: 2px solid #7F5539;
    font-size: 17px;
}

.fav {
    margin-top: 10%;
}

.left {

    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 30%;
}



h6 {
    font-size: 20px;
}

.fav:hover,
.historique:hover,
.logOut:hover,
.fav:focus,
.historique:focus,
.logOut:focus {
    border-bottom: 2px solid #583a26;
    cursor: pointer;
    color: #583a26;

}

.left:hover,
.left:focus,
h6:hover,
h6:focus,
i:hover,
i:focus {
    cursor: pointer;
    color: #583a26;
}


h3:hover,
h3:focus {
    cursor: pointer;
}
.edit{
    width:100%;
    place-items: center;
    /* place-content: center; */
      /* overflow-y: auto; */
}
.edit .row,.edit .column{
    width:80%;

}
/* modals */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 50%;
    height: 30vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    place-content: center;
    place-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.modal .btns {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10px;
}

.close button {
    margin-top: -40px;
    width: 40px;
    background: transparent;
    border-radius: 50%;
    height: 40px;
    border: 2px solid #7F5539;
}

.btns button:hover,
.btns button:focus {
    background: #593b28;
    border: 2px solid #593b28;
    color: white;
}

.btns button {
    border-radius: 50px;
    width: 200px;
    height: 40px;
    border: 2px solid #7F5539;
    color: #7F5539;
    margin-top: 7px;
}

.close button:hover,
.close button:focus {
    background: #ddb8a0;
}
label{
    color:#7F5539;
    font-size: 18px;
    margin-bottom: 2px;
    width: 200px;
}
input{
    width:100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #7F5539;
    background: #7f553942;
}
button{
  width: 150px;
  height: 50px;
  font-size: 20px;
  place-items: center;
  place-content: center;
  border-radius: 50px;
  border: 2px solid #7F5539;
  background: transparent;
  color: #7F5539;
  font-weight: 700;
}
button:hover,button:focus{
background: #7F5539 !important;
color: #ffff;
}
@media(max-width:760px) {

    .fav,
    .historique,
    .logOut {
        gap: 50%;
    }
    h6 {
        width: 100%;
    }
    .content_profil {
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100%;
}
.content,.content_personnel_informations {
    width: 100%;
    height: 100%;
}

.personnel_informations,.contents {
    width: 80%;
    place-content: center;
    place-items: center;
}
.edit .row{
    display: flex;
    flex-direction: column;
}
/* .edit{
    margin-top: 5%;
    width:100%;
    place-items: center;
    place-content: none;
    overflow-y: auto;
    margin-left: 20%;
    scrollbar-width: none;
} */

.modal-overlay .close button{
    margin-top: -1%;
}
button{
margin-left: -15%;
}
}